[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
Keywords=antergos;welcome;
StartupNotify=false
Name=Antergos Welcome
Exec=antergos-welcome
Icon=/usr/share/antergos/cnchi.png
Comment=The Antergos Welcome utility.
Name[de_DE.UTF-8]=Antergos Welcome
X-GNOME-Autostart-Delay=20
